*.canno
*.cnlcp
*.csarr
*.cseq
*.fasta.phr
*.fasta.pin
*.fasta.psq
*.pyc
.DS_Store
__pycache__
__pycache__/*
build/
docs/build/
docs/source/code_inc
docs/source/parameter.txt
example_data/BSA_simple_example_search
tests/data/_ursgal_lookup.pkl
tests/data/csv2ssl_1_0_0/BSA1_csv2ssl_test_unified_converted.csv
tests/data/msamanda_1_0_0_5243/test_BSA1_msamanda_1_0_0_5243_unified.csv
tests/data/msgfplus_v9979/test_BSA1_msgfplus_v9979_unified.csv
tests/data/myrimatch_2_1_138/test_BSA1_myrimatch_2_1_138_unified.csv
tests/data/novor_1_1beta/test_BSA1_novor_1_1beta_unified.csv
tests/data/omssa_2_1_9/test_BSA1_omssa_2_1_9_unified.csv
tests/data/omssa_2_1_9/test_Creinhardtii_QE_pH8_omssa_2_1_9*
tests/data/test_Creinhardtii_target_decoy.fasta.*
tests/data/*.mgf*
tests/data/xtandem_sledgehammer/test_BSA1_xtandem_sledgehammer_unified.csv
tests/data/msamanda_1_0_0_5243/test_BSA1_msamanda_1_0_0_5243_unified.csv_full_protein_names.txt
tests/data/msgfplus_v9979/test_BSA1_msgfplus_v9979_unified.csv_full_protein_names.txt
tests/data/myrimatch_2_1_138/test_BSA1_myrimatch_2_1_138_unified.csv_full_protein_names.txt
tests/data/novor_1_1beta/test_BSA1_novor_1_1beta_unified.csv_full_protein_names.txt
tests/data/omssa_2_1_9/test_BSA1_omssa_2_1_9_unified.csv_full_protein_names.txt
tests/data/xtandem_sledgehammer/test_BSA1_xtandem_sledgehammer_unified.csv_full_protein_names.txt
tests/data/msfragger_20170103/test_BSA1_msfragger_20170103_unified.csv
tests/data/msfragger_20170103/test_BSA1_msfragger_20170103_unified.csv_full_protein_names.txt
tests/data/test_upeptide_mapper_pmap.csv
tests/data/test_upeptide_mapper_pmap.csv_full_protein_names.txt
ursgal/resources/platform_independent/arc_independent/msgfplus_v9979
ursgal/resources/platform_independent/arc_independent/msgfplus2csv_v2016_09_16/
ursgal/resources/platform_independent/arc_independent/msgfplus_v2016_09_16/
ursgal/resources/platform_independent/arc_independent/mzidentml_lib_1_6_10
ursgal/resources/platform_independent/arc_independent/mzidentml_lib_1_6_11
ursgal/resources/win32/
ursgal/resources/darwin/
example_scripts/logs/
