.DS_Store
__pycache__
__pycache__/*
tests/data/msamanda_1_0_0_5243/test_BSA1_msamanda_1_0_0_5243_unified.csv
tests/data/msgfplus_v9979/test_BSA1_msgfplus_v9979_unified.csv
tests/data/myrimatch_2_1_138/test_BSA1_myrimatch_2_1_138_unified.csv
tests/data/novor_1_1beta/test_BSA1_novor_1_1beta_unified.csv
tests/data/omssa_2_1_9/test_BSA1_omssa_2_1_9_unified.csv
tests/data/xtandem_sledgehammer/test_BSA1_xtandem_sledgehammer_unified.csv
tests/data/_ursgal_lookup.pkl
docs/build/
docs/source/parameter.txt
# ^--- auto generated during sphinx make
tests/data/test_Creinhardtii_target_decoy.fasta.*
build/
ursgal/resources/win32/
ursgal/resources/platform_independent/arc_independent/msgfplus_v9979

