prune Documentation/html/.doctrees
exclude Documentation/html/.buildinfo

recursive-include Documentation/html *
recursive-include Documentation/html/_sources *
recursive-include Documentation/html/_static *

include example_scripts/*.py

include example_data/misc/*.csv
include example_data/BSA.fasta
include example_data/BSA1.mzML

recursive-include ursgal/resources/*

recursive-include tests/data/omssa_2_1_9 *
recursive-include tests/data/xtandem_sledgehammer *
include tests/data/*.csv
include tests/data/*.fasta
include tests/data/*.mzML
include tests/data/test*.json
include tests/data/_test*.pkl
include tests/*.py

recursive-include ursgal/wrappers *.py

include COPYING.txt
include CONTRIBUTING.rst
include AUTHORS.txt
include README.rst
include requirements.txt

